<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
<div class="alert alert-dismissible alert-info">
  <h4 class="alert-heading">Línea de contacto oficial</h4>
  <p class="mb-0">Si crees estar <abbr title="Fiebre, tos, estornudos, malestar general, dolor de cabeza y dificultad para respirar">infectado</abbr>, por favor aíslate y manda un mensaje con la palabra <a href="sms:51515?body=COVID" class="alert-link">COVID al 51515</a>.</p>
</div>
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCNjdNgotqk2VsxRubYsPXfyNfTXRWTs2Y",
    authDomain: "covid-19-e7cf6.firebaseapp.com",
    databaseURL: "https://covid-19-e7cf6.firebaseio.com",
    projectId: "covid-19-e7cf6",
    storageBucket: "covid-19-e7cf6.appspot.com",
    messagingSenderId: "781206873878",
    appId: "1:781206873878:web:e7a1ad197fe3f279dd1237",
    measurementId: "G-C57RBM6ZFT"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  </body>

</html>
