---
layout: default
---

<div>
{% comment %}
  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}
{% endcomment %}

<h1 class="text-center">Mapa</h1>
<div id="mapa" class="d-block text-center" width="400" height="300"></svg>

<!--div id="map" class="d-block text-center"></div>
<div id="tooltip" class="text-center"></div-->

<script src="{{ "/assets/javascript/mapa.js" | relative_url }}"></script>


<h1 class="text-center">Casos</h1>
<div class="row d-flex justify-content-center">
<div class="card text-white bg-danger mb-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header text-center">Totales</div>
  <div class="card-body">
    <h4 class="card-title text-center">14,960</h4>
    <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
  </div>
</div>
<div class="card text-white bg-success mb-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header text-center">Recuperados</div>
  <div class="card-body">
    <h4 class="card-title text-center">22</h4>
    <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
  </div>
</div>
<div class="card text-white bg-warning mb-3 col-md-4" style="max-width: 20rem;">
  <div class="card-header text-center">Últimas 24 hrs.</div>
  <div class="card-body">
    <h4 class="card-title text-center">89</h4>
    <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
  </div>
</div>
</div>

<!--INICIA LA GRAFICA-->
<!-- Initialize a select button -->
<select id="selectButton"></select>
<div class="row d-flex justify-content-center">

<!-- Create a div where the graph will take place -->
<div id="grafica"></div>

<script src="{{ "/assets/javascript/grafica.js" | relative_url }}"></script>



</div>

<button type="button" class="btn btn-primary btn-lg btn-block btn-info">Descarga los datos</button>


  <section>
    {% comment %}
    index.md va aca
    {{ content }}
    }
    {% endcomment %}
  </section>


  {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>


